.hero {
  overflow: hidden;
  height: 100%;
}

.hero figure div {
  width: 20%;
  float: left;
}

.hero figure img {
  width: 100%;
  float: left;
  height: 700px;
  object-fit: cover;
}

.hero figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s hero infinite;
}

@keyframes hero {
  0% {
    left: 0%
  }

  20% {
    left: 0
  }

  25% {
    left: -100%
  }

  45% {
    left: -100%
  }

  50% {
    left: -200%
  }

  70% {
    left: -200%
  }

  75% {
    left: -300%
  }

  95% {
    left: -300%
  }

  100% {
    left: -400%
  }
}

.container {
  padding: 1em;
}