@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&family=Sanchez:ital@0;1&family=Secular+One&family=Yrsa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  color: #000000;
  font-family: Bree Serif;
}
body {
  background-color: #F6F1E9;
  overflow-x: hidden;
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
}

//FOOTER
.navigasi {
  background-color: #E7C367;
  width: 100%;
  height: 90px;
}

.logo img{
  width: 50px;
}

.logo a {
  display: flex;
  align-items: center;
  font-family: Bree Serif;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}
.all-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-top: 1em;
}

header {
  width: 100%;
  background: #E7C367;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: inline-block;
  color: #181817;
  font-size: 20px;
  padding: 20px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  min-height: 44px;
  min-width: 44px;
}
.btn-login {
  display: inline-block;
  color: #181817;
  font-size: 18px;
  padding: 20px 25px;
  border-radius: 35px;
  transition: 0.2s;
  margin: 0 5px;
  min-height: 44px;
  min-width: 44px;
  background-color: #8b5c16;
}

nav ul li a:hover {
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
}

.card p {
  font-size: 20px;
  font-family: sans-serif;
  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
  text-decoration: none;
}

.information h1 {
  text-align: center;
  color: #000000;
  margin-top: 50px;
  font-size: 40px;
  padding-bottom: 8px;
}

.information p {
  text-align: center;
  color: #000000;
  padding-bottom: 23px;
  border-bottom: 2px dashed grey;
  font-size: 20px;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.card1 {
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #E7C367;
  color: #000000;
}

#goals.card {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

#about-card.card{
  background-color: #C28220;
  border: 4px solid #fff;
  border-radius: 20px;
  width: 520px;
  height: 420px;
}


h2 {
  text-align: center;
  color: #000000;
  padding-bottom: 8px;
}
//FOOTER
footer {
  padding-top: 10px;
  color: white;
  background-color: #3A2C08;
  display: flex;
  flex-direction: column;
}
.sosialmedia{
  display: flex;
  justify-content:center;


}
.footerbottom{
  display: flex;
  justify-content: center;
}

.socialmedia a {
  text-decoration: none;
}
.socialmedia a i {
  color: #fff;
  margin: 10px;
  font-size: 1.2rem;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 50%;
  margin-left: 500px;
}

.socialmedia a:hover {
  background-color: #fff;
  transition: 0.5s;

}

.socialmedia a:hover i {
  color: #fff;
  transition: 0.5s;

}

p.footerbottom {
  text-align: center;
}


//ABOUT ME

.about {
  padding: 100px 0;
  background-color:  #E7C367;
}

.about-keepme {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-keepme img {
  width: 580px;
  height: auto;
  border-radius: 5px;
}

.about-text h2 {
  color: #000000;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-bottom: 3px solid #3A2C08;
}

.about-text p {

  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
  font-size: 18px;
  text-align: justify;
}


#hamburger{
display:none
}

.card-home{
  text-align: center;
  margin-top: 30px;
  color: #000000;
}
.beranda{
  gap: 10px;
}
  .list-data {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
  }
.img_card {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* list data */
.title-main {
  text-align: center;
  color: #FF8303;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.card {
  height: auto;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  padding: 1em;
  background-color: #fffffe;
}

.card-title a {
  text-decoration: none;
  color: #181817;
  min-height: 44px;
  min-width: 44px;
  display: inline-block;
}

.card-title a:hover {
  color: #E7C367;
}

.card-description {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.btn-card {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3A2C08;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  min-height: 44px;
  min-width: 44px;
}

.head-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.body-card {
  padding: 10px 15px;
}

.body-card h1 {
  margin: 0;
}
#chefs {
  padding-top: 35px;
  padding-bottom: 30px;
}

#chefs .section-heading h6 {
  padding-left: 0px;
}

#chefs .section-heading h6:before {
  display: none;
}

#chefs .chef-item {
  width: 350px;
  height: 400px;
  text-align: center;
  border: 1px solid #afafaf;
  padding: 30px 30px;
  margin-top: 30px;
  margin-bottom: 25px;
  transition: all .5s;
  border-radius: 10px;
}

#chefs .chef-item:hover {
  border-color: #fb5849;
}

#chefs .chef-item:hover .down-content h4 {
  color: #fb5849;
}

#chefs .chef-item .thumb {
  position: relative;
}

#chefs .chef-item .thumb img {
  width: 150px;
  overflow: hidden;
  position: relative;
}

#chefs .chef-item .thumb .overlay {
  position: absolute;
  background-color: #2a2a2a;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#chefs .chef-item .thumb ul.social-icons {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

#chefs .chef-item .thumb ul.social-icons li {
  display: inline-block;
  margin: 0px 5px;
}

#chefs .chef-item .thumb ul.social-icons li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #2a2a2a;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  transition: all .5s;
}

#chefs .chef-item .thumb ul.social-icons li a:hover {
  background-color: #fb5849;
}

#chefs .chef-item:hover .overlay {
  opacity: .9;
  visibility: visible;
}

#chefs .chef-item:hover ul.social-icons {
  opacity: 1;
  visibility: visible;
}

#chefs .chef-item .down-content {
  padding: 20px 0px;
}

#chefs .chef-item .down-content h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

#chefs .chef-item .down-content span {
  font-size: 14px;
  color: #2a2a2a;
}
#container-tentangKami{
  display: flex;
    flex-direction: column;
}
.col-tentangKami{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

/* tablet */
@media screen and (max-width: 820px) {
  .about-keepme {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 999px;
    background-color: #FF8303;
    font-size: 0.5rem;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    min-height: 44px;
    min-width: 44px;
  }
  .all-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-data {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .list-data1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
  }

  nav ul {
    width: 30%;
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #FF8303;
    margin: 6px 0;
  }

  .nav-bar {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #FF8303;
    transition: 0.2s;
    height: 450px;
    display: none;
  }

  nav {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #FF8303;
    transition: 0.2s;
    height: 450px;
  }

  .nav-bar.active {
    height: 350px;
    display: block;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  nav ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  }

  nav a {
    font-size: 18px;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .detail-content1,
  .detail-content2 {
    flex-direction: column;
  }
}

/* mobile */
@media screen and (max-width: 576px) {

  .detail-content1,
  .detail-content2 {
    flex-direction: column;
  }

  .list-data {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .list-data1 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
  }
  #about-card.card{
    background-color: #C28220;
    border: 4px solid #fff;
    border-radius: 20px;
    width: 420px;
    height: 320px;
  }
}